div.section.darkModeControl,
section.darkModeControl {
  width: 100%;
  display: flex;
  align-items: center;
  width: fit-content;
}

div.post section.darkModeControl button,
section.darkModeControl button {
  padding: 10px;
  border-radius: 100%;
  border: none;
  font-size: 15px;
}
