:root {
    --purple-light: #d3869b;
    --blue-light: #83a598;
    --yellow-light: #fabd2f;
    --grey: #282828;
    --beige: #eddbb2;

    --white: #FFFFFF;
    --black: #000000;
}

* {
    padding: 0;
    margin: 0;
    color: var(--black);
    font-family: "Alan Sans", sans-serif;
}

::selection {
    background-color: var(--yellow-light);
}

html, body {
  height: 100%;
} 

a {
    text-decoration: none;
}

.graph_effect {
    background-size: 15px 15px;
    background-image:
        linear-gradient(to right, rgba(128, 128, 128, 0.199) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(128, 128, 128, 0.199) 1px, transparent 1px);
}

.background {
    background-color: var(--white);
    height: 100%;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    text-align: center;
    background-color: var(--white);
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

ul.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

ul.menu li {
    padding: 50px 5px;
}

ul.header li {
    padding-top: 60px;
}

ul.header li button {
    border: 0;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0;
    text-align: center;

    background-color: var(--black);
    color: var(--white);
    width: 120px;
    padding: 10px 0px;
    margin: 0px 5px;
    border-radius: 20px;
}

ul.header li button.active, ul.header li button:hover {
    border-color: var(--black);
    color: var(--black);
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    padding: 8px 13px;
    box-sizing: border-box;
}

#about {
    display: none;
}

ul.links li {
    margin: 0 10px;
}

ul.links li a {
    padding: 1px 2px;
}

ul.links li a:hover {
    background-color: var(--yellow-light);
}

.languages, .frameworks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.languages img, .frameworks img {
    height: 30px;
    padding: 10px;
}