@media (max-width: 1240px) {
  section#publicacoes,
  section#projects {
    flex-direction: column;
    margin: auto;
    margin-top: 0px;
    padding-top: 395px;
    padding-bottom: 384px;
    overflow: hidden;
  }

  section#projects {
    padding-top: 0;
  }

  section#publicacoes a.card,
  section#projects a.card {
    width: 540px;
    height: fit-content;
    margin-top: 0px;
    position: sticky;
    margin-bottom: 20px;
  }

  section#publicacoes a.card h1,
  section#publicacoes a.card h2,
  section#publicacoes a.card p span,
  section#projects a.card h1,
  section#projects a.card h2,
  section#projects a.card p span {
    height: fit-content;
  }
}

@media (max-width: 910px) {
  .controls {
    display: none;
  }

  .content.graph_effect {
    position: relative;
  }

  div.content.graph_effect section.darkModeControl {
    margin-right: 40px;
  }

  section.menu.header {
    margin: auto;
    margin-top: 0;
    margin-bottom: 20px;
  }

  section.menu.header div.tagButton {
    padding: 0;
    padding-bottom: 10px;
  }
}

@media (max-width: 680px) {
  section#publicacoes a.card,
  a div.card,
  section#projects a.card {
    width: 450px;
  }

  section#publicacoes,
  section#projects {
    padding-top: 458px;
    padding-bottom: 550px;
    overflow: hidden;
  }

  section#projects {
    padding-top: 0;
  }

  section.menu.header div.tagButton button {
    height: 20px;
    width: 20px;
    font-size: 0;
  }
}

@media (max-width: 600px) {
  section#publicacoes a.card,
  a div.card,
  section#projects a.card {
    width: 300px;
  }

  section#publicacoes,
  section#projects {
    padding-top: 658px;
    padding-bottom: 650px;
    overflow: hidden;
  }

  section#projects {
    padding-top: 0;
  }
}

@media (max-width: 580px) {
  section.menu.header {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  section#projects {
    padding-top: 0;
  }
}

@media (max-width: 530px) {
  .content.graph_effect {
    padding-bottom: 50px;
  }

  .content.graph_effect section#about {
    width: 300px;
    display: flex;
    flex-direction: column;
    word-wrap: normal;
    margin: auto;
  }

  .content.graph_effect section#about div.languages {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .content.graph_effect section#about div.languages img {
    margin-bottom: 0;
  }

  .content.graph_effect section#about div.languages div.divider {
    display: none;
  }

  section#publicacoes a.card h1,
  section#projects a.card h1 {
    font-size: 18px;
  }

  section#publicacoes a.card h2,
  section#publicacoes a.card p span,
  section#projects a.card h2,
  section#projects a.card p span {
    font-size: 12px;
  }

  section#publicacoes,
  section#projects {
    padding-top: 412px;
    padding-bottom: 575px;
    overflow: hidden;
  }

  section#projects {
    padding-top: 0;
  }
}

@media (max-width: 480px) {
  section#publicacoes a.card,
  a div.card,
  section#projects a.card {
    width: 300px;
  }

  section#publicacoes,
  section#projects {
    padding-top: 412px;
    padding-bottom: 575px;
    overflow: hidden;
  }

  section#projects {
    padding-top: 0;
  }
}

@media (max-width: 460px) {
  .content.graph_effect section#about {
    width: 200px;
  }

  .content.graph_effect section#about div.languages {
    width: 200px;
  }

  div.content.graph_effect section.darkModeControl {
    margin-top: -20px;
    margin-right: 20px;
  }
}

@media (max-width: 450px) {
  section#publicacoes a.card,
  a div.card,
  section#projects a.card {
    width: 250px;
  }

  section#publicacoes,
  section#projects {
    padding-top: 497px;
    padding-bottom: 575px;
    overflow: hidden;
  }

  section#projects {
    padding-top: 0;
  }
}

@media (max-width: 410px) {
  section#publicacoes a.card,
  a div.card,
  section#projects a.card {
    width: 220px;
  }

  section#publicacoes,
  section#projects {
    padding-top: 545px;
    padding-bottom: 575px;
    overflow: hidden;
  }

  section#projects {
    padding-top: 0;
  }
}

/* blog post */

@media (max-width: 925px) {
  div.content.graph_effect div.post {
    width: 500px;
  }
}

@media (max-width: 720px) {
  div.content.graph_effect div.post {
    width: 400px;
  }
}

@media (max-width: 575px) {
  div.content.graph_effect div.post {
    width: 300px;
  }
}

@media (max-width: 470px) {
  div.content.graph_effect div.post div.body {
    margin-left: 0;
    width: 200px;
  }
}
