ul {
  list-style: none;
}

ul li,
section.menu.header div.tagButton {
  padding: 50px 5px;
  padding-top: 10px;
}

section.menu.header div.tagButton button {
  border: 0;
  text-transform: uppercase;
  font-size: 13px;
  padding: 0;
  text-align: center;

  width: 120px;
  padding: 10px 0px;
  margin: 0px 5px;
  border-radius: 20px;
}

section.menu.header div.tagButton button.active,
section.menu.header div.tagButton button:hover {
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  padding: 8px 13px;
  box-sizing: border-box;
}
