* {
  color: var(--white);
}

.background, .content {
  background-color: var(--black);
}

.header ul li button {
  background-color: var(--white);
  color: var(--black);
}

.header ul li button.active {
  border-color: var(--white);
  color: var(--white);
  background-color: transparent;
}

.header ul li button:hover {
  border-color: var(--white);
  color: var(--white);
  background-color: transparent;
}

section section.menu.links li a {
  color: var(--white);
}

section section.menu.links li a:hover {
  color: var(--black);
}

#moon_icon {
  display: none;
}

#sun_icon {
  display: block;
}

.divider {
  background-color: var(--white); 
}

.card {
  background-color: var(--black);
  border-color: var(--white);
}

.card h3 {
  color: var(--black);
}
