* {
  color: var(--white);
}

::selection {
  color: var(--black);
}

.background,
.content {
  background-color: var(--black);
}

em {
  color: var(--black) !important;
}

section.menu.header div.tagButton button.active,
section.menu.header div.tagButton button:hover {
  border-color: var(--white);
  color: var(--white);
  background-color: transparent;
}

section.menu.header div.tagButton button {
  background-color: var(--white);
}

section section.menu.links li a {
  color: var(--white);
}

section section.menu.links li a:hover,
.card h3,
.post h2.postDate,
section.menu.header div.tagButton button,
a.card p span {
  color: var(--black);
}

#moon_icon {
  display: none;
}

#sun_icon {
  display: block;
}

.divider {
  background-color: var(--white);
}

.card {
  background-color: var(--black) !important;
  border-color: var(--white) !important;
}

.languageToggle select {
  background-color: var(--white);
  color: var(--black);
}
