* {
  color: var(--white);
}

::selection {
  color: var(--black);
}

.background, 
.content {
  background-color: var(--black);
}

em {
  color: var(--black) !important;
}

.header ul li button.active,
.header ul li button:hover {
  border-color: var(--white);
  color: var(--white);
  background-color: transparent;
}

.header ul li button {
  background-color: var(--white);
}

section section.menu.links li a {
  color: var(--white);
}

section section.menu.links li a:hover, 
.card h3, 
.post h2.postDate,
.header ul li button,
a.card p {
  color: var(--black);
}

#moon_icon {
  display: none;
}

#sun_icon {
  display: block;
}

.divider {
  background-color: var(--white); 
}

.card {
  background-color: var(--black) !important;
  border-color: var(--white) !important;
}


