* {
  color: var(--black);
}

.background, .content {
  background-color: var(--white);
}

ul li button {
  background-color: var(--black);
  color: var(--white);
}

ul li button.active {
  border-color: var(--black);
  color: var(--black);
}

ul li button:hover {
  border-color: var(--black);
  color: var(--black);
  background-color: transparent;
}

#moon_icon {
  display: block;
}

#sun_icon {
  display: none;
}

.divider {
  background-color: var(--black); 
}