* {
  color: var(--black);
}

.background,
.content {
  background-color: var(--white);
}

section.menu.header div.tagButton button {
  background-color: var(--black);
  color: var(--white);
}

section.menu.header div.tagButton button.active,
section.menu.header div.tagButton button:hover {
  border-color: var(--black);
  color: var(--black);
  background-color: transparent;
}

#moon_icon {
  display: block;
}

#sun_icon {
  display: none;
}

.divider {
  background-color: var(--black);
}
