html, body {
    height: 100%;
} 

a {
    text-decoration: none;
}

#darkmode_toggle {
    margin-right: 25px; 
    margin-top: 25px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    text-align: right;
}

.menu.header {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

@media(max-width: 572px) {
    #about {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #about h1, p {
        flex-wrap: wrap;
        width: 200px;
    }

    .languages {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .divider {
        display: none;
    }
}