html, body {
    height: 100%;
} 

a {
    text-decoration: none;
}

#darkmode_toggle {
    margin-right: 25px; 
    margin-top: 25px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    text-align: right;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.menu ul li {
    padding: 50px 5px;
}

.header ul li {
    padding-top: 20px;
}

.header ul li button {
    border: 0;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0;
    text-align: center;

    width: 120px;
    padding: 10px 0px;
    margin: 0px 5px;
    border-radius: 20px;
}

.header ul li button.active, .header ul li button:hover {
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    padding: 8px 13px;
    box-sizing: border-box;
}

#about {
    display: none;
}

.links li {
    margin: 0 10px;
}

.links li a {
    padding: 1px 2px;
}

.links li a:hover {
    background-color: var(--yellow);
}

.divider {
    height: 50px; width: 1px; 
    align-items: center; 
    text-align: center; 
    margin: 0 10px;
}

.languages, .frameworks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.languages img {
  height: 30px;
  padding: 10px;
}

@media(max-width: 572px) {
    #about {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #about h1, p {
        flex-wrap: wrap;
        width: 200px;
    }

    .languages {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .divider {
        display: none;
    }
}