.card {
  background-color: var(--white);
  width: 540px;
  height: fit-content;
  padding: 30px;
  box-sizing: border-box;
  margin: auto;
  border-radius: 25px;
  border-color: var(--black);
  border-width: 2px;
  border-style: solid;
  text-align: left;
  margin-bottom: 20px;
}

h3 {
  background-color: var(--yellow);
  width: fit-content;
  margin: 5px 0;
  font-size: 15px;
}
